body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

.container {
    margin-top: 50px;
}

input {
    padding: 10px;
    font-size: 18px;
}

button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: darkgray;
}

img {
    width: 100%;
    max-width: 800px;
    margin-top: 20px;
}
